<!DOCTYPE html>
<!-- Khai báo namespace -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Default Title</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <th:block layout:fragment="customCSS"></th:block>
</head>
<body>
  <!-- Lấy fragment có tên là :: header từ file fragments/header.html -->
    <div th:replace="~{fragments/header :: header}"></div>
    
    <div class="routing__container">
      <p id="routing">Authors > List</p>
    </div>

    <div class="container">
      <!-- Lấy fragment có tên là :: sidebar từ file fragments/sidebar.html -->
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        
        <main layout:fragment="content" class="main">
          <p>Nội dung mặc định</p>
        </main>
    </div>

    <!-- Modal -->
    <th:block th:replace="~{fragments/modal :: modal}"></th:block>
    
    <script th:src="@{/js/main.js}"></script>
    <th:block layout:fragment="customJS"></th:block>
</body>
</html>
