<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main-layout}">
<head>
    <title layout:fragment="title">Tạo sách mới</title>
    
    <th:block layout:fragment="customCSS">
        <link rel="stylesheet" th:href="@{/styles/create.css}">
    </th:block>
</head>
<body>
    <main layout:fragment="content">
        <form id="create-book-form">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="error-message" id="error-title-message"></div>

            <div class="form-group">
                <label for="author">Author</label>
                <select name="author" id="author">
                    <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
                </select>
            </div>
            <div class="error-message" id="error-author-message"></div>

            <div class="actions">
                <button class="btn" type="submit">Create</button>
            </div>
        </form>
    </main>
    
    <th:block layout:fragment="customJS">
        <script th:src="@{/js/create.js}"></script>
    </th:block>
</body>
</html>
